@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');
body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5vh;
    padding: 10px;
    border-bottom: 1px solid black;
}
.image {
    padding-left: 100px;
    min-width: 20%;
}
.bio {
    margin: auto;
    width: 70%;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black ;
}
.my-photo {
    width: 150px;
    height: auto;
}

.info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    margin-top: 5vh;
}


.education, .hobbies, .work {
    width: 30%;
    min-width: 300px;
    padding: 5px;
    border-right: 1px solid black;
    text-align: center;
    margin-top:10px;
}

.hobbies {
    height: 516.78px;
}

.work {
    border: none;
}
ul, ol {
    text-align: left;
    font-size: medium;
}
@media screen and (max-width: 700px) {
    .my-photo {
        width: 250px;
        height: auto;
    }
    .education, .hobbies, .work { 
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 10px;
    }
    .image {
        padding: 0;
    }
    .hobbies {
        height: auto;
    }
}

