@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */


.header {
    background-image: url('./public/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  
}
.header img {
    margin: 50px;
}

.app-page {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1vw;
    font-weight: 800;
    border: 1px solid #FF7474;
    border-radius: 15px;
    padding: 20px 30px;
    transition: .3s;
    cursor: pointer;
}
.app-page:hover {
    background-color: #FF7474;
    letter-spacing: 5px;
}

.name {
    text-align: center;    
}
 h1 {
    font-size: 5vw;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
.border {
    border-bottom: 3px solid #FF7474;
    padding-bottom: 8px;
    font-weight: 900;
}
 p {
    margin-top: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}



/* NAV */
.nav {
    background-color: rgba(220, 220, 220, 0.089);
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


.nav button {    
    margin: 0px 30px;
    font-size: 25px;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    transition: .1s;
}


.nav button:hover {
    border-bottom: 2px solid #FF7474;
    letter-spacing: 1px;
}

@media screen and (max-width: 540px) {
    .nav button {
        margin: 0px 10px;
        font-size: 15px;
    }
    .header {
        padding-top: 0px;
    }
    .app-page {
        font-size: 2vw;
        margin: 15px;
        padding: 10px 15px;
    }
    
}

.active {
    border-bottom: 2px solid #FF7474;
}
/* ABOUT */

.about {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about .me {
    width: 50%;
    min-width: 320px;
    text-align: center;
}

.about:first-child {
    display: flex;
}

.bio {
    margin-top: 90px;
}

.bio h1 {
    font-size: 50px;
    letter-spacing: 10px;
}

.bio p {
    margin: 15px;
    font-size: 25px;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}


ul, ol {
    display: table; 
    margin: 0 auto 10px;
    text-align: left;
    font-size: 20px;
    max-width: 310px;
}



@media screen and (max-width: 407px) {
    .about img {
        margin-bottom: 30px;
    }
    .bio {
        margin: 30px;
    }
    
}